<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta login="viewport" content="width=device-width, initial-scale=1"/>

    <title>SuplementSelector</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

</head>
<body>

<nav class="navbar navbar-inverse">

    <div class="container-fluid">
        <div class="navbar-header">
            <a th:href="@{/ui/}" class="navbar-left"><img width="150px" th:src="@{/img/logo_transparent.png}"/></a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a th:href="@{/ui/}">Home</a></li>
            <li><a th:href="@{/ui/health-problems}">Problemy zdrowotne</a></li>
            <li><a th:href="@{/ui/suplements}">Suplementy</a></li>
            <li><a th:href="@{/ui/contact}">Kontakt</a></li>
        </ul>
    </div>
</nav>
<div class="container">
    <h2>Autorem strony jest Marcin Kalandyk - <a href="marcin.kalandyk@gmail.com">marcin.kalandyk@gmail.com</a> <span
            class="badge badge-secondary">Napisz do mnie</span></h2>

</div>
</body>
</html>